@model BW_Admin.tbl_Exclusion

@{
    ViewBag.Title = "Details";
}

<div class="content">
    <div class="module">
        <div class="module-head">    <h3>Exclusion</h3>    </div>   <div class="module-body">

            <div>

                <h5>
                    Name
                </h5>

                <div class="well">
                    @Html.Raw(Model.exc_Name)
                </div>

                <h5>
                    Description
                </h5>

                <div class="well">
                    @Html.Raw(Model.exc_Description)
                </div>


            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.exc_ID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>
